<div id="terminal-container">
  <div id="terminal-header">
     <span id="terminal-title">dansh - guest@danielbergamin.net</span>
  </div>
  <div id="terminal-body" class="background-nodes">
    <div id="terminal-command-template" style="display: none">
      <span class="terminal-prompt"></span>
      <span class="terminal-command"></span>
    </div>
    <div id="terminal-output-template" style="display: none">
      <span class="terminal-output"></span>
    </div>
    <div class="terminal-line terminal-line-example">
      <span class="terminal-prompt">guest@danielbergamin.net:~/public $ </span>
      <span class="terminal-command">ls</span>
    </div>
    <div class="terminal-line terminal-line-example">
      <span class="terminal-output">
        <span><a href="{% link blog.markdown %}">[ blog ]</a></span>
        <span><a href="{% link about.markdown %}">[ about.html ]</a></span>
        <span><a href="{% link cv.markdown %}">[ cv.html ]</a></span>
      </span>
    </div>
    <div class="terminal-line">
      <span class="terminal-prompt">guest@danielbergamin.net:~/public $ </span>
      <input id="active-terminal-command" class="terminal-command" autofocus/><span id="terminal-cursor">█</span>
    </div>
  </div>
</div>

<!-- 
  Makes our toy terminal tick.
  This has gradually got a bit spaghetti and needs a refactor.
-->
<script type="text/javascript">
  // Constants
  const KEYPRESS_RETURN = 13;
  const KEYPRESS_UP = 38; 
  const NO_ARGS = "";
  const NO_COMMAND_HISTORY_CYCLED = -2
  const NOT_VIEWABLE = "plain_file_object_"; 


  // Globals holding the 'terminal' state
  // It would be great if JS supported more appropriate data types, but I'd rather slog through
  // than add a dependency for a very limited problem.
  var TERMINAL_BODY = document.querySelector('#terminal-body');
  var TERMINAL_ACTIVE_COMMAND_LINE = TERMINAL_BODY.lastElementChild;
  var TERMINAL_ACTIVE_COMMAND = document.querySelector('#active-terminal-command'); 
  var TERMINAL_COMMAND_HISTORY = [];
  var TERMINAL_COMMAND_HISTORY_POSITION = NO_COMMAND_HISTORY_CYCLED;

  class TerminalCommand {
    constructor(name, regex, exec, helptext) {
      this.name = name;
      this.regex = regex;
      this.exec = exec;
      this.helptext = helptext;
    }
  }

  var TERMINAL_COMMANDS = [
    new TerminalCommand('cd', '^cd(.*)?', commandChangeDir, "Changes the current directory"),
    new TerminalCommand('clear', '^(clear|cls)(.*)?', commandClearScreen, "Clears the terminal contents"),
    new TerminalCommand('echo', '^echo(.*)?', commandEcho, "Print some text to the terminal output"),
    new TerminalCommand('help', '^help(.*)?', commandHelp, "Print help information"),
    new TerminalCommand('ls', '^ls(.*)?', commandListDir, "Show clickable links to contents of current directory")

  ];

  class DanUtils {
    /**
     * Thanks 'https://stackoverflow.com/users/633183/thank-you' for this snippet
     * https://stackoverflow.com/a/27747377
     */
    static dec2hex(dec) {
      return ('0' + dec.toString(16)).substr(-2)
    }

    // generateId :: Integer -> String
    static generateId(len) {
      var arr = new Uint8Array((len || 40) / 2)
      window.crypto.getRandomValues(arr)
      return Array.from(arr, DanUtils.dec2hex).join('')
    }

    static getNestedObject(object, path) {
      return path.reduce((obj, key) =>
        (obj && obj[key] !== 'undefined') ? obj[key] : undefined, object);
    }

    /**
     * Thanks underscorejs for this one
     **/
    static isUndefined = function(obj) {
      return obj === void 0;
    }
  }

  const TerminalLineType = {
    COMMAND: 0,
    OUTPUT: 1
  }
  
  class TerminalLine {
    constructor(type) {
      this.type = type;
      this.id = "line-" + DanUtils.generateId(8);
      this.element = TerminalLine.getNewElementOfType(type, this.id);
    }

    setCommandText(text) {
      if (this.type != TerminalLineType.COMMAND) {
        leaveMeAlone();
      } else {
        this.element.getElementsByClassName('terminal-command')[0].innerText = text;
      }
    }

    setOutputText(text) {
      if (this.type != TerminalLineType.OUTPUT) {
        leaveMeAlone();
      } else {
        this.element.getElementsByClassName('terminal-output')[0].innerText = text;
      }
    }

    setPromptText(text) {
      if (this.type != TerminalLineType.COMMAND) {
        leaveMeAlone();
      } else {
        this.element.getElementsByClassName('terminal-prompt')[0].innerText = text;
      }
    }

    remove() {
      this.element.remove();
    }

    hide() {
      this.element.setAttribute('style','display: none');
    }

    show() {
      this.element.removeAttribute('style');
    }
    
    static getNewElementOfType(type, id) {
      var newLine;
      if (type === TerminalLineType.COMMAND) {
        newLine = document.querySelector('#terminal-command-template').cloneNode(true);
      } else if (type === TerminalLineType.OUTPUT) {
        newLine = document.querySelector('#terminal-output-template').cloneNode(true);
      } else {
        leaveMeAlone();
      }

      newLine.id = id;
      newLine.className = 'terminal-line';
      return newLine;
    }
  }

  class TerminalInterface {
    constructor() {
      this.wireTerminalUIEvents();
      this.lines = [];
    }

    wireTerminalUIEvents() {
      // Make the entire line focus the input as it will start at zero length
      TERMINAL_BODY.addEventListener("click",function() {
        TERMINAL_ACTIVE_COMMAND.focus();
      });

      // Resizing the input so caret stays at the end
      TERMINAL_ACTIVE_COMMAND.addEventListener('input',function() {
        // Throw an error if too much text gets dumped in
        if (this.getBoundingClientRect().width >= this.parentElement.getBoundingClientRect().width) {
          leaveMeAlone();
          this.value = "";
        }
        this.style.width = this.value.length + "ch";
      });

      // Trigger input event to activate the resizing
      TERMINAL_ACTIVE_COMMAND.dispatchEvent(new Event('input'));

      // Hook up the eval method
      TERMINAL_ACTIVE_COMMAND.addEventListener('keyup', this.evaluateInput);
    }

    triggerResize() {
      TERMINAL_ACTIVE_COMMAND.dispatchEvent(new Event('input'));
    }

    clearScreen() {
      this.lines.forEach(line => line.remove());
    }

    // This is attached to the active command input and generally runs in that context 
    evaluateInput(event) {
      var matchedCommand = false;

      if (event.keyCode === KEYPRESS_RETURN) {
        var input = this.value.toLowerCase();
        TERMINAL_COMMAND_HISTORY_POSITION = NO_COMMAND_HISTORY_CYCLED;
        
        // Record the user input
        TERMINAL_INTERFACE.recordCommand();
        
        //Process the input
        Object.keys(TERMINAL_COMMANDS).forEach(function(command_id) {
          if (input.match(TERMINAL_COMMANDS[command_id].regex)) {

            // If input matches a command definition, invoke the command with the raw input string
            var userCommandArgs;
            var spacePosition = input.indexOf(" ");
            if (spacePosition >= 0) {
              userCommandArgs = input.substring(spacePosition + 1);
            } else {
              userCommandArgs = NO_ARGS;
            }
            TERMINAL_COMMANDS[command_id].exec(userCommandArgs);
            matchedCommand = true;
          }
        });

        if (!matchedCommand) {
          commandNotFound(input);
        }

        // Reset the active command prompt and scroll it to the bottom
        TERMINAL_ACTIVE_COMMAND_LINE.getElementsByClassName('terminal-command')[0].value = '';
        TERMINAL_ACTIVE_COMMAND_LINE.getElementsByClassName('terminal-prompt')[0].innerText = TERMINAL_INTERFACE.getPrompt();
        TERMINAL_ACTIVE_COMMAND.dispatchEvent(new Event('input'));
        TERMINAL_BODY.scrollTop = TERMINAL_BODY.scrollHeight;
      } else if (event.keyCode === KEYPRESS_UP) {
        // Implement 'command history cycling'; pressing 'UP' retrieves past commands
        if (TERMINAL_COMMAND_HISTORY.length >= 1) {
          if (TERMINAL_COMMAND_HISTORY_POSITION == NO_COMMAND_HISTORY_CYCLED) {
            TERMINAL_COMMAND_HISTORY_POSITION = TERMINAL_COMMAND_HISTORY.length - 1;
          } else if (TERMINAL_COMMAND_HISTORY_POSITION == -1) {
            // We have exhausted our pool of historical commands, do nothing
            return;
          }
          TERMINAL_ACTIVE_COMMAND_LINE.getElementsByClassName('terminal-command')[0].value = TERMINAL_COMMAND_HISTORY[TERMINAL_COMMAND_HISTORY_POSITION];
          TERMINAL_COMMAND_HISTORY_POSITION--;
          TERMINAL_ACTIVE_COMMAND.dispatchEvent(new Event('input'));
        }
      }
    }

    // Type is a TerminalLineType
    addNewLine(terminalLineType) {
      var newLine = new TerminalLine(terminalLineType);
      this.lines.push(newLine);
      TERMINAL_BODY.insertBefore(newLine.element, TERMINAL_ACTIVE_COMMAND_LINE);
      return newLine;
    }

    // Prints files to terminal output
    printFiles(files) {
      var newLine = this.addNewLine(TerminalLineType.OUTPUT);
      Object.keys(files).forEach(function(filename){
        // Check if the raw object is an object or a string to check if it is a file or directory
        var fsObject = new TerminalFsObject(filename, files[filename], files[filename] instanceof Object);
        newLine.element.appendChild(fsObject.renderToHtml());
      });
      newLine.show();
    }

    printText(text) {
      var newLine = this.addNewLine(TerminalLineType.OUTPUT);
      newLine.setOutputText(text);
      newLine.show();
    }

    // Records the current entered command
    recordCommand() {
      // Grab the final line of the terminal; containing the active command and store the command text
      var commandText = TERMINAL_ACTIVE_COMMAND_LINE.getElementsByClassName('terminal-command')[0].value;
      var promptText = TERMINAL_ACTIVE_COMMAND_LINE.getElementsByClassName('terminal-prompt')[0].innerText;
      
      // Record the command
      TERMINAL_COMMAND_HISTORY.push(commandText);
      
      // Add the recorded command to the terminal
      var newLine = this.addNewLine(TerminalLineType.COMMAND);
      newLine.setCommandText(commandText);
      newLine.setPromptText(promptText);
      newLine.show();
    }

    getPrompt() {
      return `guest@danielbergamin.net:${TERMINAL_FILESYSTEM.ACTIVE_DIR} $`;
    }
  }
  
  class TerminalFsObject {
    constructor(name, data, isDir) {
      this.name = name;
      this.isDir = isDir;
      this.isFile = !isDir;

      if (this.isFile) {
        this.weblink = data;
      } else if (isDir) {
        this.weblink = data['.'];
      }
    }

    // Renders HTML for output onto the terminal
    renderToHtml() {
      var fileOutput = document.createElement('span');
      fileOutput.innerHTML = `<a href='${this.weblink}'>[ ${this.name} ]</a> `;
      return fileOutput;
    }
  }


  class TerminalFilesystemPath {
    constructor(pathString) {
      var result;
      if (pathString == '/') {
        result = new Array(['~']);
      } else {
        // Construct our array and then conditionally 'decorate' the result before storing it
        result = pathString.split('/');

        // Transform relative paths to absolute
        if (!TerminalFilesystemPath.isAbsolutePath(pathString)) {
          result = TERMINAL_FILESYSTEM.ACTIVE_DIR.path.concat(result);
        }

        // Process metacharacters
        this.path = result.filter(function(value, index, arr){
          // If a '..' is encountered, remove it along with the adjacant dir to 'go up one level'  
          if (value != ".." && arr[index + 1] != "..") {
            // A '.' can be ignored
            if (value != '.') { 
              return value;
            }
          }
        });
      }
    }

    toString() {
      return this.path.join('/');
    }

    static isAbsolutePath(pathString) {
      return pathString.startsWith("~") || pathString.startsWith("/");
    }
  }

  class TerminalFilesystem {
    constructor() {
      // Filesystem holds the available files as keys, and a link to their page on the site as values
      this.filesystem = {
        "~": {
          ".": NOT_VIEWABLE,
          "public": {
            ".": "/",
            "blog": {
              ".": "/blog"
            },
            "about.html": "/about.html",
            "cv.html": "/cv.html"
          }
        }
      };
      this.ACTIVE_DIR = new TerminalFilesystemPath("~");
    }

    changeDir(path) {
      try {
        if (this.isDirectory(this.isValidPath(path))) {
          this.ACTIVE_DIR = path;
        } else {
          throw(`Path ${path} is a file or special object, cannot change dir`);
        }
      } catch (e) {
        throw(e);
      }
    }

    listDirectory(dir) {
      try {
        return this.isValidPath(dir);
      } catch (e) {
        throw(e);
      }
    }

    isDirectory(path) {
      return (path instanceof Object);
    }

    // Check if a path exists
    isValidPath(fsPath) {
      if (!(fsPath instanceof TerminalFilesystemPath)) {
        throw(`Something has gone wrong.`);
      }

      var result = DanUtils.getNestedObject(this.filesystem,fsPath.path);
      if (DanUtils.isUndefined(result)) {
        throw(`Directory ${fsPath} not found`);
      } else {
        return result;
      }
    }
  }

  var TERMINAL_INTERFACE = new TerminalInterface();
  var TERMINAL_FILESYSTEM = new TerminalFilesystem();
  TERMINAL_FILESYSTEM.changeDir(new TerminalFilesystemPath("~/public"));

  /*******************************************************************************
   * Command implementations
   * Parameters:
   *   args: The raw string that follows the space after the command invocation
   *         e.g. the command "print hello 123" would pass "hello 123" in as args.
   *******************************************************************************/

  function commandChangeDir(args) {
    var pathToChangeTo = args;
    if (pathToChangeTo.split(' ').length != 1 || pathToChangeTo === NO_ARGS) {
      TERMINAL_INTERFACE.printText('Usage: cd [DIRECTORY_PATH]');
    } else {
      try {
        TERMINAL_FILESYSTEM.changeDir(new TerminalFilesystemPath(pathToChangeTo));
      } catch (e) {
        TERMINAL_INTERFACE.printText(e);
      }
    }
  }

  function commandClearScreen(args) {
    TERMINAL_INTERFACE.clearScreen();
  }

  function commandHelp(args) {
    var output = "This isn't a great way to navigate the site, but it was fun to make. Supported commands:\n";
    TERMINAL_COMMANDS.forEach(command => output = output + `${command.name}: ${command.helptext}\n`)
    TERMINAL_INTERFACE.printText(output);
  }

  function commandListDir(args) {
    var files = TERMINAL_FILESYSTEM.listDirectory(TERMINAL_FILESYSTEM.ACTIVE_DIR);
    TERMINAL_INTERFACE.printFiles(files);
  }

  // Display an error if the command is not found.
  function commandNotFound(args) {
    TERMINAL_INTERFACE.printText(`command ${args} not found. Use 'help' for supported commands.`);
  }

  function commandEcho(args) {
    TERMINAL_INTERFACE.printText(args);
  }

  // Lo-fi error handling when something unexpected happens
  function leaveMeAlone() {
    alert("Please don't try to break my fragile imitation of a shell, no bug bounties to be found here.");
  }
</script>