<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="background-nodes">
    <div class="default-container">
      {%- include header.html -%}
      <div class="cv-container page-content background-plain">
        <header class="cv-header">
          <img src="assets/images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
          <h1 class="header-name" itemprop="name">{{ site.contact_name }}</h1>
          <div class="executive-summary" itemprop="description">
            <p>IT professional with a track record in increasing the rate at which teams can safely deliver customer value. I specialise in automating release processes, building the tools and fostering the culture that shifts quality and security left.</p>
            <p>As a generalist, I am driven by a need to understand and own the end-to-end delivery of solutions both new and legacy; partly to achieve the best outcome for clients, but also to keep my technical curiosity in check!</p>
            <p>I'm always on the lookout for new challenges. Please <a href="mailto:{{ site.contact_email }}" address="{{ site.contact_email }}"itemprop="email">get in touch</a> if you'd like to collaborate on a passion project, engage Digital Frontiers commercially or just have a chat!</p>
          </div>
        </header>
        <main class="cv-content" aria-label="Content" itemscope itemtype="http://schema.org/Person">  
          <section class="content-section">
            <header class="section-header">
              <h2>Career Summary</h2>
            </header>
            <div id="career-summary" class="cv-item-details">
              <p>I started out working part-time as a support engineer/junior dev for an internal J2EE-based product at ServiceRocket, while completing my Bachelor of IT at <a href="https://www.uts.edu.au/" target="_blank">UTS</a>. After graduating, I moved to the <span class="cv-link-servicerocket-consultant cv-link">consulting team at ServiceRocket</span>, selling, speccing and delivering process improvements, migrations and custom add-on development for the Atlassian ALM tools, and then tossing them over the 'wall' to customers ops teams.</p>
              <p>Craving the satisfaction of longer-term ownership and continuous longer-term feature delivery, I moved to <span class="cv-link-tfnsw-cloud cv-link">Transport for NSW</span>, first building out a greenfield platform to deliver a revamped, cloud native update to their primary customer facing digital property <a href="https://transportnsw.info" target="_blank">transportnsw.info</a>, and then operating and improving the platform and website in production for a year and a half.</p>
              <p>2018 brought about a move to London, where I started my consultancy, <span class="cv-link-digitalfrontiers-founder cv-link">Digital Frontiers</span>. The first engagagement with <span class="cv-link-worldfirst-devops cv-link">WorldFirst</span> brought me into the ops sysadmin territory I had missed by jumping straight from development to the self-healing immutable infrastructure and serverless solutions we ran at Transport.</p>
              <p>At <span class="cv-link-worldfirst-devops cv-link">WorldFirst</span>, I continously delivered and supported software on bare-metal KVM hosts running in co-lo datacentres for the first 6 - 12 months. I then took a second engagement, which utilised my prior public cloud experience and knowledge of WorldFirst's production systems to provide technical leadership for a successful public cloud migration. A final engagment followed, where I led the updates and re-certification of IT BCP/DR plans for the new cloud platform.</p>
            </div>
          </section>
          <!--
          <section class="content-section">
            <header class="section-header">
              <h2>Skills</h2>
            </header>
            {% for skill in site.data.skills %}
            <div class="resume-item">
              <h4 class="resume-item-details">{{ skill.skill }}</h4>
              <p class="resume-item-copy">{{ skill.description }}</p>
            </div>
            {% endfor %}
          </section>
          -->  
        </main>
        <section class="cv-footer">
          <div class="pdf-download-link">
            <p>This CV is available in a more traditional PDF format: <img src="assets/images/pdf_download_icon.svg"/> <a href="https://bergamin-public-files.s3-ap-southeast-2.amazonaws.com/cv/Daniel+Bergamin+-+CV.pdf" target="_blank">CV - Daniel Bergamin.pdf</a></p> 
          </div>
        </section>
        <aside class="cv-left-sidebar">
          <ul id="timeline-content" class="timeline">
            <li class="timeline-date" data-date="Jan '12">
              <span><img src="assets/images/servicerocket_logo_mini.png" alt="ServiceRocket logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="Apr '16">
                <span><img src="assets/images/transport_logo_mini.png" alt="Transport for NSW logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="May '17">
              <span><img src="assets/images/atlassian_logo_mini.png" alt="Worldfirst Logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="Jul '18">
              <span><img src="assets/images/digital_frontiers_logo_mini.png" alt="Worldfirst Logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="Jul '18">
              <span><img src="assets/images/worldfirst_logo_mini.png" alt="Worldfirst Logo" class="no-print" itemprop="image"></span>
            </li>
          </ul>
        </aside>
      </div>
      {%- include footer.html -%}
    </div>
    <div id="modal-backdrop" class="modal">
      <div id="cv-item-digitalfrontiers-founder" class="cv-item" itemscope itemprop="founder" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">Digital Frontiers</h3>
        <p class="cv-item-details" itemprop="description">Consultant</p>
        <p class="cv-item-duration" itemprop="description">Jul '18—</p>
        <p class="cv-item-details">Digital Frontiers is a consultancy that I operate. We help to nurture and grow a DevOps mindset and capability within larger organisations.
        We work at the ground level and endeavor to <a href="https://devops.com/devops-shift-left-avoid-failure" target="_blank">shift left</a> to move responsiblity and control to where it is most effective.</p>
      </div>
      <div id="cv-item-worldfirst-devops" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">WorldFirst</h3>
        <p class="cv-item-details" itemprop="description"></p>
        <p class="cv-item-duration" itemprop="description">Jul '18—</p>
        <p class="cv-item-copy">Digital Frontiers is a consultancy that I operate. We help to nurture and grow a DevOps mindset and capability within larger organisations.
        We work at the ground level and endeavor to shift left to move responsiblity and control to where it is most effective.</p>
      </div>
      <div id="cv-item-tfnsw-cloud" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="resume-item-title" itemprop="name">Transport for NSW</h3>
        <h4 class="resume-item-details" itemprop="description">Cloud Platform Engineer</h4>
        <p class="resume-item-copy">I worked on the transportnsw.info delivery team for just over two years, wearing many hats in the process:</p>
        <ul>
          <li>As a developer in the cross functional developer productivity and cloud team, I worked on continuous delivery enablers, aiming to safely ship releases after each sprint with high confidence.</li>
          <li>As an infrastructure engineer, I used a combination of CloudFormation (DSL), Docker, Jenkins, Ansible & Ruby to maintain infrastructure in code as a deployable artifact. In the latter part of the project this shifted to working with AWS Lambda for a lot of new-build functionality.</li>
          <li>As a SME in Atlassian productivity tools, I advise on and implemented custom solutions across the Transport cluster that utilise Atlassian applications (JIRA, Confluence, Bitbucket) as a platform.</li>
        </ul>
      </div>
      <div id="cv-item-servicerocket-consultant" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="resume-item-title" itemprop="name">ServiceRocket</h3>
        <h4 class="resume-item-details" itemprop="description">Consultant</h4>
        <p class="resume-item-copy">Role:</p>
        <ul>
          <li>Lead business process consulting and review with a focus on best-practice usage of Atlassian JIRA and Confluence.</li>
          <li>DevOps consulting focused around usage of JIRA, Stash and Bamboo (CI/CD, git workflows, plugin development to integrate with bespoke tools).</li>
          <li>Configuration of Java webapp hosting infrastructure including variety of web-servers (inc load balancing), Tomcat and Jetty on Unix/Windows.</li>
          <li>Architecture, design and development of tooling for custom integrations, migrations, SSO/Auth, primarily using Java/Groovy.</li>
        </ul>
      </div>

      <!-- Short-n-sweet inline script to power the modal boxes. 
        -- Kept unminified, for the benefit of the curious. -->  
      <script type='text/javascript'>          
        var modal = document.getElementById("modal-backdrop");

        var closeBtns = document.getElementsByClassName("close");
        for (const closeBtn of closeBtns) {
          // When the user clicks on a close (x), close the modal
          closeBtn.onclick = function() {
            closeTheModal();
          }
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            closeTheModal();
          }
        }

        function closeTheModal() {
          modal.style.display = "none";
          var cvItems = document.getElementsByClassName("cv-item");
          for (var item of cvItems) {
            item.style.display = "none"
          }
        }

        // Link the modal popups to the text links
        let roles = [
          'servicerocket-consultant',
          'tfnsw-cloud',
          'digitalfrontiers-founder',
          'worldfirst-devops'
        ];

        for (const role of roles) {
          var cvLinks = document.getElementsByClassName(`cv-link-${role}`);
          for (const cvLink of cvLinks) {
            cvLink.onclick = function() {
              modal.style.display = "block";
              document.getElementById(`cv-item-${role}`).style.display="block";
            }
          }
        }
      </script>
  </body>
</html>
