<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body class="background-nodes">
    <div class="default-container">
      {%- include header.html -%}
      <div class="cv-container page-content background-plain">
        <header class="cv-header">
          <img src="assets/images/avatar.jpg" alt="my photo" class="avatar no-print" itemprop="image">
          <h1 class="header-name" itemprop="name">{{ site.contact_name }}</h1>
          <div class="executive-summary" itemprop="description">
            <p>IT professional with a track record in increasing the rate at which teams can safely deliver customer value. I specialise in automating release processes, building the tools and fostering the culture that shifts quality and security left.</p>
            <p>As a generalist, I am driven by a need to understand and own the end-to-end delivery of solutions both new and legacy; partly to achieve the best outcome for clients, but also to keep my technical curiosity in check!</p>
          </div>
        </header>
        <main class="cv-content" aria-label="Content" itemscope itemtype="http://schema.org/Person">  
          <section class="content-section">
            <header class="section-header">
              <h2>Career Summary</h2>
            </header>
            <div id="career-summary" class="cv-item-summary">
              <p>I started out working part-time as a support engineer/junior dev for an internal J2EE-based product at ServiceRocket, while completing my Bachelor of IT at <a href="https://www.uts.edu.au/" target="_blank">UTS</a>. 
                After graduating, I moved to the <span class="cv-link-servicerocket-consultant cv-link">consulting team at ServiceRocket</span>, selling, speccing and delivering process improvements, migrations and custom add-on development for the Atlassian ALM tools, and then tossing them over the 'wall' to customers ops teams.</p>
              <p>Craving the satisfaction of longer-term ownership and continuous longer-term feature delivery, I moved to <span class="cv-link-tfnsw-cloud cv-link">Transport for NSW</span>, first building out a greenfield platform to deliver a revamped, cloud native update to their primary customer facing digital property <a href="https://transportnsw.info" target="_blank">transportnsw.info</a>, 
                and then operating and improving the platform and website in production for a year and a half. While at Transport, I co-operatively ran the Sydney <span class="cv-link-aug-organiser cv-link">Atlassian User Group</span> (now ACE) events for a year to stay connected with my Atlassian product roots, doing event planning, hosting and delivering a few talks when community speakers were not available.</p>
              <p>2018 brought about a move to London, where I started my consultancy, <span class="cv-link-digitalfrontiers-founder cv-link">Digital Frontiers</span>. The first engagagement with <span class="cv-link-worldfirst-devops cv-link">WorldFirst</span> brought me into the ops sysadmin territory I had missed by jumping straight from development to the self-healing immutable infrastructure and serverless solutions we ran at Transport.</p>
              <p>At <span class="cv-link-worldfirst-devops cv-link">WorldFirst</span>, I continously delivered and supported software on bare-metal KVM hosts running in co-lo datacentres for the first 6 - 12 months. I then took a second engagement, which utilised my prior public cloud experience and knowledge of WorldFirst's production systems to provide technical leadership for a successful public cloud migration. A final engagment followed, where I led the updates and re-certification of IT BCP/DR plans for the new cloud platform.</p>
            </div>
          </section>
          <!-- TODO: drop in a skills matrix here -->  
        </main>
        <section class="cv-footer">
          <div class="cv-footer-content">
            <p>I'm always on the lookout for new challenges. Please <a href="mailto:{{ site.contact_email }}" address="{{ site.contact_email }}"itemprop="email">get in touch</a> if you'd like to collaborate on a passion project, engage Digital Frontiers commercially, or just have a chat!</p>
            <p>You can download this CV in a more traditional PDF format: <img src="assets/images/pdf_download_icon.svg"/> <a href="https://bergamin-public-files.s3-ap-southeast-2.amazonaws.com/cv/Daniel+Bergamin+-+CV.pdf" target="_blank">CV - Daniel Bergamin.pdf</a></p> 
          </div>
        </section>
        <aside class="cv-left-sidebar">
          <ul id="timeline-content" class="timeline">
            <li class="timeline-date" data-date="Jan '12">
              <span class="cv-link-servicerocket-consultant cv-link" style="border: none"><img src="assets/images/servicerocket_logo_mini.png" alt="ServiceRocket logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="Apr '16">
                <span class="cv-link-tfnsw-cloud cv-link" style="border: none"><img src="assets/images/transport_logo_mini.png" alt="Transport for NSW logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date" data-date="May '17">
              <span class="cv-link-aug-organiser cv-link" style="border: none"><img src="assets/images/atlassian_logo_mini.png" alt="Atlassian Logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date current-position" data-date="Jul '18">
              <span class="cv-link-digitalfrontiers-founder cv-link" style="border: none"><img src="assets/images/digital_frontiers_logo_mini.png" alt="Digital Frontiers Logo" class="no-print" itemprop="image"></span>
            </li>
            <li class="timeline-date timeline-subentry" data-date="Jul '18">
              <span class="cv-link-worldfirst-devops cv-link" style="border: none"><img src="assets/images/worldfirst_logo_mini.png" alt="Worldfirst Logo" class="no-print" itemprop="image"></span>
            </li>
          </ul>
        </aside>
      </div>
      {%- include footer.html -%}
    </div>
    <div id="modal-backdrop" class="modal">
      <div id="cv-item-digitalfrontiers-founder" class="cv-item" itemscope itemprop="founder" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">Digital Frontiers</h3>
        <p class="cv-item-position" itemprop="description">Director / DevOps Consultant</p>
        <p class="cv-item-role">Digital Frontiers is a consultancy that I operate. We help to nurture and grow a DevOps mindset and capability within larger organisations.
        We work at the ground level and endeavour to <a href="https://devops.com/devops-shift-left-avoid-failure" target="_blank">shift left</a> to move responsibility and control to where it is most effective.</p>
        <p class="cv-item-role">Our customers include:</p>
        <div class="cv-item-role cv-item-contract" contract-position-title="WorldFirst">
          <ul>
            <li>Aug 2018 — Jan 2019: Hands-on promotion of the DevOps way within the infrastructure team.</li>
            <li>Jan 2019 — Jul 2019: Migrate all client production services from inhouse datacentre environment to public cloud.</li>
            <li>Sep 2019 — Nov 2019: Update IT DR/BCP processes for cloud infrastructure; conduct full DR test to recertify all services.</li>
            <li>Nov 2019 — Dec 2019: Rearchitect and migrate some services to new managed Kubernetes cluster - the next gen platform.</li> 
            <li>More details here: <span class="cv-link-worldfirst-devops cv-link">WorldFirst</span>.</li>
          </ul>
        </div>
      </div>
      <div id="cv-item-worldfirst-devops" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">WorldFirst</h3>
        <p class="cv-item-position" itemprop="description">Client of Digital Frontiers</p>
        <p class="cv-item-role">I fulfilled four blocks of work with WorldFirst on behalf of <span class="cv-link-digitalfrontiers-founder cv-link">Digital Frontiers</span>:</p>
        <div class="cv-item-role cv-item-contract" contract-position-title="Devops Specialist">
          <ul>
            <li>Improve the performance and robustness of release mechanisms for existing legacy applications.</li>
            <li>Work with development teams to onboard new applications to our build and release infrastructure, and move towards 12-factor app style.</li>
            <li>Continuous improvements to security and stability.</li>
            <li>SME for configuration and usage of Atlassian developer tooling.</li>
          </ul>
        </div>
        <div class="cv-item-role cv-item-contract" contract-position-title="Cloud Migration Tech Lead">
          <ul>
            <li>Used the understanding of applications fostered in my first engagement and my prior experience as a Cloud Engineer to take a leading technical role in the migration of all systems from datacentres to public cloud.</li>
            <li>Re-provisioned traditional VM-based infrastructure in a leader/follower multi-DC pattern as a multi-AZ cloud deployment, simultaneously releasing to both platforms and orchestrating cutovers.</li>
            <li>Opportunistically applied a variety of stability and security improvements during the re-provisioning process.</li>
          </ul>
        </div>
        <div class="cv-item-role cv-item-contract" contract-position-title="IT DR/BCP Tech Lead">
          <ul>
            <li>After the migration to public cloud, there was a need to formally re-certify the operational monitoring and multi-site failover capability for all applications/services identified as business-critical.</li>
            <li>Repsonsible for guiding a team to update and verify the DR maturity and accuracy of BCP/failover plans for all services, culminating in executing a successful full-day simulated scenario test of all business critical services involving ~15 staff.</li>
          </ul>
        </div>
        <div class="cv-item-role cv-item-contract" contract-position-title="Devops Specialist">
          <ul>
            <li>Leveraged my relationships with development teams to drive re-architecture and migration of an internal suite of Java services to a new cloud-native platform running managed K8s.</li>
            <li>Work on extending the new platform to support a managed Kafka capability, to replace a self-managed Kafka cluster in the legacy cloud environment.</li>
          </ul>
        </div>
      </div>
      <div id="cv-item-tfnsw-cloud" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">Transport for NSW</h3>
        <h4 class="cv-item-position" itemprop="description">Cloud Platform Engineer</h4>
        <p class="cv-item-role">I worked on the transportnsw.info delivery team for just over two years, wearing many hats in the process:</p>
        <ul>
          <li>As a devops engineer in the cross functional developer productivity and cloud team, I worked on continuous delivery enablers, aiming to safely ship releases after each sprint with high confidence.</li>
          <li>As an cloud engineer, I used a combination of CloudFormation (DSL), Docker, Jenkins, Ansible & Ruby to maintain infrastructure in code as a deployable artifact.</li>
          <li>As a developer, I used AWS Lambda and the Serverless framework to build new microservices (NodeJS) supporting new features on the <a href="https://transportnsw.info" target="_blank">transportnsw.info</a> website.</li>
          <li>As a SME in Atlassian productivity tools, I advise on and implemented custom solutions across the Transport cluster that utilise Atlassian applications (JIRA, Confluence, Bitbucket) as a platform.</li>
        </ul>
      </div>
      <div id="cv-item-aug-organiser" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">Atlassian User Group</h3>
        <h4 class="cv-item-position" itemprop="description">Organiser</h4>
        <p class="cv-item-role">I ran the AUG Sydney for a year as part of a trio of volunteers; event planning and 
          hosting a variety of experiences including workshops, lightning talks, presentations and a themed trivia night for 
          audiences of ~50 on a bimonthly cadence. I also presented a few different talks covering JIRA, Devops and the 
          testing practices we used at Transport for NSW when community speakers were not available.</p>
      </div>
      <div id="cv-item-servicerocket-consultant" class="cv-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
        <span class="close">&times;</span>
        <h3 class="cv-item-title" itemprop="name">ServiceRocket</h3>
        <h4 class="cv-item-position" itemprop="description">Consultant</h4>
        <p class="cv-item-role">I started out as a part time support engineer whilst pursuing my degree, moving onto a junior developer and finally a consultant position with ServiceRocket. The consultant position involved:</p>
        <ul>
          <li>Business process consulting: assist clients with workflow, reporting and structure on Atlassian JIRA and Confluence.</li>
          <li>DevOps consulting: usage of JIRA, Stash and Bamboo & git. Help organisations adopt CI/CD, and develop custom plugins (Java, OSGi bundles) to integrate with inhouse tools.</li>
          <li>Configuration of Java webapp hosting infrastructure including various supported load balancers, application servers and databases on Unix/Windows.</li>
          <li>Architecture, design and development (Java/Groovy) for custom integrations, migrations and SSO/Authenticator plugins for Atlassian products.</li>
          <li>Pre-sales activies, including requirement gathering, creating estimates and services schedules for statements of work, and technical responses to RFI/RFPs.</li>
        </ul>
      </div>
      <!-- Short-n-sweet inline script to power the modal boxes. 
        -- Kept unminified, for the benefit of the curious. -->  
      <script type='text/javascript'>          
        var modal = document.getElementById("modal-backdrop");

        var closeBtns = document.getElementsByClassName("close");
        for (const closeBtn of closeBtns) {
          // When the user clicks on a close (x), close the modal
          closeBtn.onclick = function() {
            closeTheModal();
          }
        }
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            closeTheModal();
          }
        }

        function closeTheModal() {
          modal.style.display = "none";
          var cvItems = document.getElementsByClassName("cv-item");
          for (var item of cvItems) {
            item.style.display = "none"
          }
        }

        // Link the modal popups to the text links
        let roles = [
          'servicerocket-consultant',
          'tfnsw-cloud',
          'aug-organiser',
          'digitalfrontiers-founder',
          'worldfirst-devops'
        ];

        for (const role of roles) {
          var cvLinks = document.getElementsByClassName(`cv-link-${role}`);
          for (const cvLink of cvLinks) {
            cvLink.onclick = function() {
              if (modal.style.display === "block") {
                closeTheModal();
              }
              modal.style.display = "block";
              document.getElementById(`cv-item-${role}`).style.display="block";
            }
          }
        }
      </script>
  </body>
</html>
