.cv-container {
  display: grid;

  grid-template-areas: 
    "cv-header cv-header"
    "cv-left-sidebar cv-content";

  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;

  height: 100%;
}

.cv-container > .cv-header {
  grid-area: cv-header;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1px solid $grey-color-light;
}

.cv-container > .cv-header > .executive-summary {
  max-width: 80%;
}

.cv-container > .cv-content {
  grid-area: cv-content;
  padding: 20px;
}

.cv-container > .cv-left-sidebar {
  grid-area: cv-left-sidebar;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.cv-item-details {
  text-align: justify;
}

.cv-item {
  @extend .modal-content;
  width: 60%;
  min-width: $content-min-width;
}

.cv-link {
  @extend a;
  //text-transform: uppercase;
  background: #ffffff;
  padding: 1px;
  border: 1px solid darken($highlight-color, 15%);
  border-radius: 5px;
}